@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Fjalla+One&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arimo', sans-serif;
    background: linear-gradient(135deg, rgba(53,80,112,1) 0%, rgba(53,80,112,1) 36%, rgba(229,107,111,1) 100%);
}

*, *:before, *:after {
    box-sizing: inherit;
  }

/* navbar and logo */

nav {
    width: 100%;
}

#nav-bar {
    float: right;
    padding-right: 30px;
    padding-top: 30px;
}

#nav-bar .active {
    color: #E56B6F;
}

#nav-bar li {
    display: inline-block;
    vertical-align: middle;
}

#nav-bar li a {
    padding-right: 50px;
    transition: 0.3s;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#nav-bar li a:hover {
    color: #E56B6F;
}

#signup-form {
    display: inline-block;
}

#contact-btn {
    background-color: transparent;
    border: 1px solid #E56B6F;
    font-size: 85%;
    width: 100px;
    height: 35px;
    color: #E56B6F;
    text-transform: uppercase;
    border-radius: 6px;
    transition: 0.3s;
    font-weight: bold;
}

#contact-btn:hover {
    color: #355070;
    background-color: #E56B6F;
    cursor: pointer;
}

.logo {
    display: inline-block;
    padding-left: 30px;
    padding-top: 17.5px;
}

#logo-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 46px;
    letter-spacing: 2px;
    color: #E56B6F;
}

.logo p {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 2px;
    color: #fff;
}

/* home page */

#home-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 100px;
}

#home-container span {
    padding-top: 25px;
}

#home-image {
    width: 50%;
    height: 500px;
    float: left;
    border-radius: 20%;
}

#home-image img {
    width: 80%;
    padding-left: 105px;
    padding-top: 50px;
    border-radius: 10px;
}

#home-header {
    width: 50%;
    height: 500px;
    float: right;
}

#home-header h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #E56B6F;
    font-size: 63px;
    padding-top: 180px;
}

#home-header p {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
}

#getstarted-btn {
    background-color: transparent;
    border: 1px solid #E56B6F;
    font-size: 85%;
    width: 100px;
    height: 35px;
    color: #E56B6F;
    text-transform: uppercase;
    border-radius: 6px;
    transition: 0.3s;
    font-weight: bold;
}

#getstarted-btn:hover {
    color: #355070;
    background-color: #E56B6F;
    cursor: pointer;
}

/* membership page & price row*/

#membership-container {
    width: 100%;
    overflow: hidden;
}

#member-header h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #E56B6F;
    font-size: 46px;
    text-align: center;
    
}

#member-header p {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    padding: 30px;
}

.column {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.5);
    width: 33.33%;
    height: 300px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #fff;
}

.column h3 {
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    letter-spacing: 2px;
    color: #E56B6F;   
    text-transform: uppercase;
    text-decoration: underline;
}

.column p {
    text-transform: uppercase;
}

.price-row {
    width: 100%;
    background-color: transparent;
}

.column li {
    margin-left: 25px;
    color: #ffffff;
    line-height: 1em;
    margin-top: 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: left;
}

.member-btn {
    background-color: transparent;
    border: 1px solid #E56B6F;
    width: 100px;
    height: 35px;
    color: #E56B6F;
    text-transform: uppercase;
    border-radius: 6px;
    transition: 0.3s;
    font-weight: bold;
    vertical-align: middle;
}

.member-btn:hover {
    cursor: pointer;
    background-color: #E56B6F;
    color: #355070;
}

/* about us */

.about-section {
    width: 100%;
}

.about-header {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 50px;
    background-color: rgba(53,80,112,0.5);
}

.about-header h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(229,107,111,1);
    font-size: 46px;
}

.ourteam-column {
    float: left;
    width: 33.33%;
    margin-bottom: 16px;
    padding: 0 px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.card-container::after , .row::after {
    content: "";
    clear: both;
    display: table;
}

.card-container p {
    line-height: 2em;
    text-align: center;

}

.card-container h2 {
    line-height: 1.5em;
    text-align: center;
}

.job-title {
    color: rgba(255, 255, 255, 0.8)
}

.contacts-btn {
    background-color: transparent;
    border: 1px solid #355070;
    width: 100px;
    height: 35px;
    color: #355070;
    text-transform: uppercase;
    border-radius: 6px;
    transition: 0.3s;
    font-weight: bold;
    margin: 3px 0 10px;
}

.contacts-btn:hover {
    color: #E56B6F;
    background-color: #355070;
    cursor: pointer;
}

/* contact page */

.contact-container {
    width: 100%;
}

.contact-form {

}

/* footer */

footer {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
}

.socials {
    text-align: center;
    margin: 0 10px 0 10px;
}

.socials li {
    display: inline;
}

.socials i {
    font-size: 200%;
    color: rgba(255, 255, 255, 0.596);
    padding: 20px;
}

footer h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 19px;
    text-align: center;
}


/* media queries */
@media screen and (max-width: 650px) {
    .ourteam-column {
      width: 100%;
      display: block;
    }
  }