@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Fjalla+One&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arimo', sans-serif;
    background-color: #355070;
}

/* navbar and logo */

#nav-bar .active {
    color: #E56B6F;
}

#nav-bar {
    height: 100px;
    width: 100%;
}

#nav-bar li {
    float: right;
    margin-right: 50px;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
    margin-top: 40px;
    letter-spacing: 2px;
    transition: 0.3s;
}

#nav-bar li:hover {
    color: #E56B6F;
}

#signup-btn {
    display: inline;
    float: right;
    margin-top: 32px;
    background-color: transparent;
    border: 1px solid #E56B6F;
    font-size: 85%;
    width: 100px;
    height: 35px;
    margin-right: 65px;
    color: #E56B6F;
    text-transform: uppercase;
    border-radius: 6px;
    transition: 0.3s;
    font-weight: bold;
}

#signup-btn:hover {
    color: #355070;
    background-color: #E56B6F;
    cursor: pointer;
}

#logo {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 28px;
    width: 200px;
    display: inline-block;
    color: #E56B6F;
    height: 100px;
    margin-left: 550px;
}

#logo h1 {
    text-align: right;
}

/* home page */

#home-container {
    width: 100%;
    height: 600px;
    overflow: hidden;
    
}

#home-image {
    width: 50%;
    height: 500px;
    float: left;
}

#home-image img {
    width: 80%;
    margin-left: 105px;
    margin-top: 50px;
    border-radius: 10px;
}

#home-header {
    width: 50%;
    height: 500px;
    float: right;
}

#home-header h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #E56B6F;
    font-size: 63px;
    margin-top: 180px;
}

#home-header p {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
}

/* membership page */

#membership-container {
    width: 100%;
    height: 600px;
    margin-bottom: 100px;
    overflow: hidden;
}

#member-header {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #E56B6F;
    font-size: 36px;
    text-align: center;
}
#home-image video {
    width: 200%;
    opacity: 0.3;
}

